.env
db
.git
.DS_Store
.vscode
.venv/

docs/


**/.DS_Store
**/.env
**/__pycache__/

/src/ai_module.egg-info/
*.egg-info/


/src/ai_agent/core/agents/archive/
/src/ai_agent/notebooks/

opensource/

developer.md

