{% extends 'base.html' %}
{% block content%}
<div class="index">
    <h1> HELLO

    </h1>
    <div class="element">
        <script type="module">
            import { Editor } from 'https://esm.sh/@tiptap/core'
            import StarterKit from 'https://esm.sh/@tiptap/starter-kit'

            new Editor({
                element: document.querySelector('.element'),
                extensions: [StarterKit],
                content: '<p>Hello World!</p>',

            })

        </script>
    </div>
</div>
{% endblock content%}